
$header-height: 18vh;
$header-padding: 1vh;
$header-logo-ratio: 5;
$footer-height: 7vh;
$font-scale: 15;

$background-opacity: 0.6;
$hf-opacity: 0.8;

$mapua-gold: #CAA452;
$mapua-yellow: #FFB81D;
$mapua-red: #D94230;

$date-transition-speed: 3s;
$end-transition-speed: 3s;
$confetti-lifespan: 5s;

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

@font-face {
    font-family: 'Outfit';
    font-weight: bold;
    src: url('fonts/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'Outfit';
    font-weight: normal;
    src: url('fonts/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Oswald';
    font-weight: bold;
    src: url('fonts/Oswald-Bold.ttf');
}

html, body {
    margin: 0;
    overflow: hidden;
}

.background-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, $background-opacity);
    z-index: -10;
}

body.end .background-cover {
    opacity: 0;
    transition: opacity $end-transition-speed linear;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -15;
    
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    
    transition: filter $end-transition-speed ease-in-out;
}

body.end .background {
    filter: blur(10px);
}

header {
    height: $header-height;
    padding: calc($header-padding / 2);
    background-color: rgba(246, 246, 246, $hf-opacity);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.end header {
    background-color: rgba(246, 246, 246, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 400;

    transition: all $end-transition-speed ease-in-out;
}

header > img.logo-centennial {
    height: calc((($header-height - $header-padding) / $header-logo-ratio) * ($header-logo-ratio - 1));
    padding: 4px;
}

header > img.wordmark-mapua {
    max-height: 0;
}

header > div {
    color: $mapua-gold;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(($header-height - $header-padding) / $header-logo-ratio);
    line-height: 1em;
    overflow: hidden;

    transition: all 0.5s ease-in-out;
}

body.end header > img.logo-centennial {
    height: 35vh;
    width: auto;
    max-width: 50vw;

    transition: all $end-transition-speed ease-in-out;
}

body.end header > img.wordmark-mapua {
    margin-bottom: 5vh;
    max-height: 10vh;
    transition: all calc($end-transition-speed / 2) calc($end-transition-speed / 2) ease-in-out;
}

body.end header > div {
    max-height: 0 !important;
    transition: max-height calc($end-transition-speed / 2) ease-in-out;
}

body.clock header > div {
    max-height: 0;
}

body.countdown header > div {
    max-height: 1em;
}

body {
    font-family: 'Outfit', 'Helvetica', sans-serif;
    text-align: center;
}

body:not(.clock):not(.countdown) > main {
    opacity: 0;
}

main {
    height: calc(100vh - $header-height - $footer-height);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    transition: opacity 0.5s ease-in-out;
}

body.end > main {
    opacity: 0;
    transition: opacity calc($end-transition-speed / 6) ease-in-out;
}

.break {
    flex-basis: 100%;
    height: calc($font-scale * 0.4vmin);
}

.counter {
    font-size: calc($font-scale * 0.75vmin);
    max-width: calc($font-scale * 1.5vw);
    width: 100%;
}

.date, .days {
    max-width: 100% !important;
}

body.willTransition .days {
    transition: opacity calc($date-transition-speed / 3) calc($date-transition-speed / 3 * 2) ease-in-out,
                max-height calc($date-transition-speed / 3) calc($date-transition-speed / 3 * 2) ease-in-out;
}

body.willTransition .date {
    font-size: calc($font-scale * 0.6vmin);
    transition: opacity calc($date-transition-speed / 3) ease-in-out,
                max-height calc($date-transition-speed / 3) ease-in-out;
}

body:not(.countdown) .date,
body.countdown .days {
    opacity: 1;
    max-height: 100%;
}

body.countdown .date,
body:not(.countdown) .days {
    opacity: 0;
    max-height: 0;
}

.days {
    font-size: calc($font-scale * 1vmin);
    max-width: calc($font-scale * 3vw);
}

.counter > .number {
    text-shadow: 0 1vmin 0.7vmin rgba(42, 42, 42, 0.95);
    color: $mapua-yellow;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.8em;
}

/* number */
.days > .number,
.date > .number {
    font-size: 2.4em;
    color: $mapua-red;
    text-transform: uppercase;
}

.date > .label {
    margin-bottom: 2vh;
}

#dayOfWeek {
    font-size: 1em;
}

#clockDate {
    font-size: 1.4em;
}

/* labels */
.counter > .label {
    color: white;
    display: block;
    font-size: 0.4em;
    line-height: 1em;
    text-transform: uppercase;
    overflow: hidden;

    transition: max-height 0.5s ease-in-out;
}

body.countdown .counter:not(.date) > .label {
    max-height: 1em;
}

body.clock .counter:not(.date) > .label {
    max-height: 0;
}

body.countdown .colon {
    opacity: 0;
}

.colon {
    font-family: 'Oswald', 'Outfit', 'Helvetica', sans-serif;
    font-size: calc($font-scale * 0.75vmin * 1.6);
    line-height: calc($font-scale * 0.75vmin);
    color: #F6F6F6;
}

body.willTransition .colon {
    transition: opacity 0.5s ease-in-out;
}

footer {
    height: $footer-height;
    text-align: left;
    background-color: rgba(246, 246, 246, $hf-opacity);
}

footer > img {
    padding: 0.5vmin 0 0.5vmin 0.5vmin;
    width: auto;
    height: $footer-height;
}

footer > img:not(.eece) {
    border-radius: 1vmin;
}

footer > img.eece {
    -webkit-filter: drop-shadow(1vmin 0.4vmin 0.6vmin #222);
    filter: drop-shadow(1vmin 0.4vmin 0.6vmin #222);
}

body.end footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 500;
    background: unset;

    transition: all $end-transition-speed ease-in-out;
}

#headerPlaceholder,
#footerPlaceholder {
    display: none;
}

body.end #headerPlaceholder {
    display: block;
    height: $header-height;
}

body.end #footerPlaceholder {
    display: block;
    height: $footer-height;
}

body:not(.end) .confetti {
    display: none;
}

#confettiContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 800;
}

// @keyframes confettiFall {
//     from {
//         /* sync with index.html:162 */
//         top: calc(-2vw);
//         transform: rotate3d($rotX, $rotY, $rotZ, 0);
//     }
//     to {
//         top: calc(100vh + 2vw);
//         transform: rotate3d($rotX, $rotY, $rotZ, calc(1turn * $rots));
//     }
// }

body.end .confetti {
    display: block;
    position: fixed;
    // top: calc(-1 * $size);

    background-color: $mapua-gold;
    // animation: confettiFall $confetti-lifespan ease-in;
}